---
interface Props {
	title: string;
	href: string;
	icon?: string;
}

const { title, href, icon }: Props = Astro.props;
---

<a
	{href}
	target="_blank"
	rel="noopener noreferrer"
	class:list={[
		"rounded-lg",
		"p-3",
		"bg-stone-800",
		"hover:bg-stone-100",
		"transition-colors",
		"flex",
		"flex-col",
		"gap-2",
	]}
>
	<div class="flex justify-start items-center gap-3">
		{
			icon ? (
				<img src={icon} alt={`${title} icon`} class="w-6 h-6 rounded" />
			) : (
				<div class="w-8 h-8 rounded bg-stone-600 flex items-center justify-center text-white font-semibold">
					{title.charAt(0).toUpperCase()}
				</div>
			)
		}
		<span class="font-medium">
			{title}
		</span>
	</div>
</a>
